@import "tailwindcss";

@plugin "daisyui" {
  themes: cmyk --default, dracula --prefersdark, dark, caramellatte, abyss;
}

@plugin "daisyui/theme" {
  name: "cmyk";
  --color-base-100: oklch(96% 0.018 272.314);
  --color-base-200: oklch(93% 0.034 272.788);
  --color-primary: oklch(39% 0.195 277.366);
  --color-primary-content: oklch(97% 0.014 254.604);
  --color-secondary: oklch(71% 0.203 305.504);
}
